name: Test Release model-service with lib-version

on:
  workflow_dispatch:
  push:

jobs:
  test-release:
    runs-on: ubuntu-latest
    env:
      IMAGE: ghcr.io/${{ github.repository }}

    steps:
      - uses: actions/checkout@v4

      - name: Clone lib-version and extract version
        run: |
          git clone --branch library-creation-and-release "https://x-access-token:${{ secrets.GH_TOKEN }}@github.com/${{ github.repository_owner }}/lib-version.git" lib-version
          VERSION=$(grep -oPm1 "(?<=<version>)[^<]+" lib-version/pom.xml)
          echo "VERSION=$VERSION"
          echo "VERSION=$VERSION" >> $GITHUB_ENV

      - name: Show version components
        run: |
          echo "VERSION = ${{ env.VERSION }}"
          echo "MAJOR = $(echo '${{ env.VERSION }}' | cut -d. -f1)"
          echo "MINOR = $(echo '${{ env.VERSION }}' | cut -d. -f2)"
          echo "PATCH = $(echo '${{ env.VERSION }}' | cut -d. -f3)"

      - name: Test Docker build (NO PUSH)
        run: |
          docker build \
            --build-arg MODEL_VERSION=${{ env.VERSION }} \
            -t test-model-service:${{ env.VERSION }} \
            .
